<header class="hero">
  <div class="conteiner conteiner-hero">
    <div class="conteiner-hero_img">
      <svg class="icon-hero">
        <use xlink:href="./images/sprite.svg#film"></use>
      </svg>
      <h1 class="hero--title"><a href="./index.html">Filmoteka</a></h1>

      <div class="conteiner-links">
        <ul class="conteiner-list">
          <li class="link-list">
            <a href="./index.html" class="link">Home</a>
          </li>
          <li class="link-list">
            <a href="./myLibrary.html" class="link current">My Library</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="conteiner-btn">
      <button
        type="button"
        name="watched"
        data-action="add-to-watched-lib"
        class="btn"
        value="w"
      >
        Watched
      </button>
      <button
        type="button"
        name="queve"
        data-action="queve-lib"
        value="q"
        class="btn"
      >
        Queve
      </button>
    </div>
  </div>
</header>
