<header class="hero">
  <div class="conteiner conteiner-hero-home">
    <div class="conteiner-hero_img">
      <svg class="icon-hero">
        <use xlink:href="./images/sprite.svg#film"></use>
      </svg>

      <h1 class="hero--title"><a href="./index.html">Filmoteka</a></h1>

      <div class="conteiner-links">
        <ul class="conteiner-list">
          <li class="link-list">
            <a href="./index.html" class="link current">Home</a>
          </li>
          <li class="link-list">
            <a href="./myLibrary.html" class="link">My Library</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="conteiner--form">
      <input
        id="search"
        class="input--form"
        type="text"
        name="find-film"
        placeholder="Movie search"
      />
      <svg class="serch--icon">
        <use href="./images/sprite.svg#search"></use>
      </svg>
    </div>
  </div>
</header>
