<div class="conteiner conteiner--title">
  <div class="conteiner_img" id="poster">
    <img
      src="https://cs10.pikabu.ru/post_img/big/2020/01/27/0/1580075116179221722.jpg"
      alt="фото фильма"
    />
  </div>
  <ul class="title--conteiner__list" id="titel-list-lib"></ul>
</div>
<div class="conteiner--btn__pagination">
  <button class="btn-paginaton scope">
    <svg class="icon-btn">
      <use xlink:href="./images/sprite.svg#arrow-right"></use>
    </svg>
  </button>
  <button class="btn-paginaton">2</button>
  <button class="btn-paginaton">3</button>
  <button class="btn-paginaton enable">4</button>
  <button class="btn-paginaton">5</button>
  <button class="btn-paginaton">6</button>
  <button class="btn-paginaton scope">
    <svg class="icon-btn">
      <use xlink:href="./images/sprite.svg#arrow-left"></use>
    </svg>
  </button>
</div>
