.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.conteiner-hero {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/Hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 230px;
    padding: 40px 20px 62px 20px;

    @media screen and (min-width:768px) and (max-width:1279px) {
        background-image: linear-gradient(rgba(0, 0, 0, 0.6),
                rgba(0, 0, 0, 0.6)), url(../images/HerTab.jpg);
        height: 219px;
        padding: 40px 32px 60px 31px;
    }
}

.hero--title {
    display: none;

    @media screen and (min-width:768px) and (max-width:1279px) {
        display: inline;
        font-weight: 500;
        font-size: 30px;
        line-height: 35px;
        margin-left: 12px;
    }
}

.conteiner-links {
    margin-left: auto;
}

.icon-hero {
    display: inline-block;
    height: 24px;
    width: 24px;
}

.conteiner-hero_img {
    display: flex;
    align-items: center;
}

.conteiner-list {
    display: flex;
    text-transform: uppercase;
    grid-gap: 39px;
}

.conteiner-btn {
    display: flex;
    justify-content: center;
    margin-top: 55px;
    grid-gap: 20px;

    @media screen and (min-width:768px) and (max-width:1279px) {
        grid-gap: 32px;
        margin-top: 40px;
    }
}

.btn {
    width: 129px;
    background-color: rgba($color: #000000, $alpha: 0);
    line-height: 16px;
    font-weight: 500;

    @media screen and (min-width:768px) {
        width: 152px;
    }
}

.active {
    background: #FF6B01;
    box-shadow: 0px 8px 43px rgba(255, 107, 1, 0.6);
    outline: none;
    border: none;
}

.current {
    text-decoration: 2px solid red underline;
}