.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
}

.conteiner-hero-home {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/mobile-home-hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 230px;
    padding: 40px 20px 62px 20px;

    @media screen and (min-width:768px) and (max-width:1279px) {
        background-image: linear-gradient(rgba(0, 0, 0, 0.6),
                rgba(0, 0, 0, 0.6)), url(../images/tab-home-hero.jpg);
        height: 220px;
        padding: 40px 32px 60px 31px;
    }

    @media screen and (min-width:1280px) {
        background-image: linear-gradient(rgba(0, 0, 0, 0.6),
                rgba(0, 0, 0, 0.6)), url(../images/desktop-home-hero.jpg);
        padding: 40px 32px 60px 31px;
        height: 216px;
    }
}

.hero--title {
    color: #fff;
    display: none;

    @media screen and (min-width:768px) {
        display: inline;
        font-weight: 500;
        font-size: 30px;
        line-height: 35px;
        margin-left: 12px;
    }
}

.conteiner-links {
    margin-left: auto;
}

.icon-hero {
    display: inline-block;
    height: 24px;
    width: 24px;
}

.conteiner-hero_img {
    display: flex;
    align-items: center;
}

.conteiner-list {
    display: flex;
    text-transform: uppercase;
    grid-gap: 39px;
}

.current {
    text-decoration: 2px solid red underline;
}

.conteiner--form {
    position: relative;
    margin: 0 auto;
    margin-top: 40px;
}

.input--form {
    position: relative;
    width: 280px;
    background: none;
    outline: none;
    border: none;
    font-size: 14px;
    line-height: 16px;
    border-bottom: 0.5px solid #8C8C8C;
    color: #fff;

    @keyframes glowing {
        0% {

            color: #39dc029f;
            box-shadow: 0 0 2px #04e867;
        }

        50% {

            color: #0ce404d9;
            box-shadow: 0 0 9px #05e566;
        }

        100% {

            color: #21fc05;
            box-shadow: 0 0 2px #01fb6d;
        }
    }

    & {
        animation: glowing 4000ms infinite;
    }

    &::placeholder {
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: #8C8C8C;
    }

}

.serch--icon {
    position: absolute;
    display: inline-flex;
    top: 0;
    right: 0;
    width: 12px;
    height: 12px;
    fill: #fff;
}