.conteiner_img {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;


    @include mobile {
        width: 300px;
    }

    @include tablet {
        width: 700px;
    }

    @include desktop {
        width: 1200px;
    }

    & img {
        align-items: center;
    }
}

.dis {
    display: none;
}