.conteiner--title {
    display: flex;
    flex-direction: column;
    padding: 20px 20px 0 20px;
    width: 100%;
    height: 100%;
    margin: 0 auto;

    @media screen and (min-width:768px) {
        padding: 60px 32px 0 32px;
    }
}

.list--title {
    transition: transform;
    box-shadow: 0px 1px 3px rgba(1, 79, 67, 0.12), 0px 1px 1px rgba(80, 80, 80, 0.14),
        0px 2px 1px rgba(104, 104, 104, 0.2);
    border-radius: 10px;
    transition: box-shadow 250ms,
        background 250ms,
        color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        width: 102%;
        cursor: pointer;
        box-shadow: 0px 8px 43px rgba(0, 221, 173, 0.6);
    }

    & img {
        border-radius: 5px;
    }
}

.title--conteiner__list {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 280px;
    grid-row-gap: 20px;



    @media screen and (min-width:768px) and (max-width:1279px) {
        display: grid;
        grid-template-columns: 336px 336px;
        grid-row-gap: 28px;
        grid-column-gap: 32px;
    }

    @media screen and (min-width:1279px) {
        display: grid;
        grid-template-columns: 394px 394px 394px;
        grid-row-gap: 32px;
        grid-column-gap: 16px;
    }

}

.rait {
    font-size: 12px;
    line-height: 14px;
    width: 36px;
    height: 16px;
    background: #FF6B01;
    border-radius: 5px;
    color: #fff;
    padding: 1px 6px;

    @media screen and (min-width:1279px) {
        width: 40px;
        height: 20px;

    }
}


.conteiner--image__title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 12px;
    line-height: 16px;
    margin-top: 8px;

    @media screen and (min-width:1279px) {
        font-size: 20px;
        line-height: 24px;
        margin-top: 12px;

    }

    .image--title {
        font-weight: bold;
        text-transform: uppercase;
        color: #fff;

        @media screen and (min-width:1279px) {
            font-weight: normal;
        }
    }

    .image--text {
        text-transform: none;
        color: #FF6B08;
    }
}

// btn
.conteiner--btn__pagination {
    display: flex;
    justify-content: center;
    margin: 40px 0 40px;

    @media screen and (min-width:768px) and (max-width:1279px) {
        margin: 60px 0 60px;
    }

}

.btn-paginaton {
    width: 40px;
    height: 40px;
    outline: none;
    border: none;
    padding: 0;
    background: none;
    color: black;
}

.scope {
    background: #F7F7F7;
    display: flex;
    align-items: center;
    justify-content: center;


    .icon-btn {
        display: inline-block;
        width: 16px;
        height: 16px;
        margin: 0 auto;
    }
}

.enable {
    background: #FF6B01;
    box-shadow: 0px 8px 43px rgba(255, 107, 1, 0.6);
    outline: none;
    border: none;
    color: #fff;
}