.conteiner {
    display: flex;
    flex-direction: column;
    min-width: 320px;
    max-width: 480px;

    @media screen and (min-width:768px) and (max-width:1279px) {
        min-width: 768px;
        max-width: 1279px;
    }

    @media screen and (min-width:1280px) {
        min-width: 1280px;
    }
}


body {
    font-family: Roboto;
    font-size: 12px;
    line-height: 14px;
    color: black;
    margin: 0 auto;
    background: rgba(0, 2, 2, 0.941);
}

.link {
    color: inherit;
}



button {
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    font-size: 12px;
    line-height: 16px;
    font-weight: 500;
    color: black;
    padding: 14 36 12 36;
    text-transform: uppercase;
    cursor: pointer;

    @media screen and (min-width:768px) and (max-width:1279px) {
        padding: 13px 46px 13px 46px;
    }

    @media screen and (min-width:1280px) {
        padding: 13px 41px 13px 41px;
    }
}